// Define variables for your color scheme

// For example:
$red: #cf3030; // custom
$blue: #469AE0;
$yellow: #FDB631;
$orange: #e88a1a; // custom
$green: #32B796;
$gray: #000000;
$light-gray: #d9d9d9; // custom
$black: #141414; // custom

// Colors:
$vk-gray: #d9d9d9;
$vk-orange: #e88a1a;
$vk-red: #cf3030;
$vk-black: #141414;