<footer>
  <div class="icons">
    <ul class="list-inline">
      <li><a href=""><i class="fab fa-youtube fa-2x"></i></a></li>
      <li><a href=""><i class="fab fa-instagram fa-2x"></i></a></li>
      <li><a href=""><i class="fab fa-facebook fa-2x"></i></a></li>
      <li><a href=""><i class="fab fa-twitter fa-2x"></i></a></li>
    </ul>
  </div>
  <div class="copyright">
    <span class="style4">Copyright &copy; 1982-
    <script type="text/javascript">
      var d = new Date()
      document.write(d.getFullYear())
    </script>
    <a href="http://vintage-karr.herokuapp.com/" target="_blank">Vintage Karr</a></span><span class="style2"> </span><a href="http://vintage-karr.herokuapp.com/" target="_blank"></a><span class="style4">| Built by the DocPat Team from Batch #224 @ Le Wagon Lisbon - All rights reserverd.</span>
</footer>
