.car-banner {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  filter: brightness(120%);

  .car-name {
    position: absolute;
    top: 20px;
    left: 30px;

    h2 {
      color: $vk-orange;
      letter-spacing: 3px;
      font-family: $headers-font;
      text-shadow: 2px 2px 2px $vk-black;
    }

    p {
      color: $vk-gray;
      text-shadow: 1px 1px 1px $vk-black;
      font-size: 20px;
    }
  }

  .car-price {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: center;
    font-weight: lighter;
    background-color: $vk-orange;
    color: $vk-black;
    font-size: 22px;
    height: 80px;
    width: 80px;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;

    p {
      margin-bottom: 0;
    }

    p:first-child {
      margin-top: 2px;
    }

    .smaller {
      font-size: 14px;
      color: $vk-black;
      font-weight: lighter;
    }
  }

  .user-info {
    text-align: center;
    color: $vk-gray;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px $vk-black;
    opacity: 1;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.5s ease;

    .user-rating {
      font-size: 14px;
      margin-bottom: 8px;
    }

    img {
      border-radius: 5px;
      height: 80px;
      width: 80px;
      margin-bottom: 2px;
    }

    p:first-child {
      margin-bottom: 10px;
    }

    p:last-child {
      margin-bottom: 2px;
      font-size: 14px;
      color: $vk-gray;
      font-weight: lighter;
    }

    &:hover {
      background-color: $vk-orange;
      color: $vk-black;
      text-shadow: none;
      cursor: pointer;

      p:last-child {
        color: $vk-black;
        text-shadow: none;
      }
    }
  }
}

.car-circles {
  color: gray;
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid $vk-gray;

  p {
    margin-bottom: 0;
  }

  i {
    padding-right: 1px;
  }
}

.overall {
  color: $vk-orange;
}


.card-bottom {
  position:relative;
  margin: 0 auto;
  font-size: 16px;

  .car-info {
    line-height: 1.5;
  }

  .car-desc {
    padding: 0 50px;
    line-height: 1.5;
  }

  strong {
    color: $vk-orange;
  }

  .btn-primary, .btn-secondary {
    width: 100%;
  }
}

.inline {
  display: flex;
  justify-content: space-between;

  input {
    width: 90%;
  }

  .booking_bk_end {
    float: right;
  }
}

#total-price {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
  }



