.car-banner {
  height: 500px;
  width: 100%;
  margin: 40px auto;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  filter: brightness(120%);

  .car-info {
    color: $vk-gray;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 16px;
    text-shadow: 2px 2px 2px $vk-black;
  }

  .car-name {
    position: absolute;
    top: 20px;
    left: 30px;

    h2 {
      color: white;
      letter-spacing: 3px;
      font-family: $headers-font;
      text-shadow: 2px 2px 10px $vk-orange;
    }

    p {
      color: $vk-gray;
      text-shadow: 2px 2px 2px $vk-black;
      font-size: 20px;
    }
  }

  .car-price {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: center;
    font-weight: lighter;
    background-color: $vk-orange;
    color: $vk-black;
    font-size: 22px;
    height: 80px;
    width: 80px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 0.5px $vk-black;
    font-weight: bold;

    p {
      margin-bottom: 0;
    }

    p:first-child {
      margin-top: 2px;
    }

    .smaller {
      font-size: 14px;
      color: $vk-black;
      font-weight: lighter;
    }
  }

  .user-info {
    text-align: center;
    color: $vk-gray;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 1px 1px 1px $vk-black;
    opacity: 1;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.5s ease;

    .user-rating {
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-contents: center;

      .user-rating {
        display: block;
        button {
          $rating-color-empty: black;
          $rating-color-full: white;
        }
      }
    }

    img {
      border-radius: 5px;
      height: 80px;
      width: 80px;
      margin-bottom: 10px;
    }

    p:first-child {
      margin-bottom: 10px;
    }

    p:last-child {
      margin-bottom: 2px;
      font-size: 14px;
      color: $vk-gray;
      font-weight: lighter;
    }

    &:hover {
      background-color: $vk-orange;
      color: $vk-black;
      text-shadow: none;
      cursor: pointer;

      p:last-child {
        color: $vk-black;
        text-shadow: none;
      }
    }
  }
}

.card-bottom {
  position:relative;
  margin: 0 auto;
  font-size: 16px;

  .car-info {
    line-height: 1.5;
  }

  .car-desc {
    padding: 0 50px;
    line-height: 1.5;
  }

  strong {
    color: $vk-orange;
  }

  .btn-primary {
    width: 100%;
  }
}




