//=require flatpickr/dist/flatpickr.min

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


//
body {
  background-color: white;
  font-family: $body-font;
  letter-spacing: 1px;
}

.wrapper {
  min-height: calc(100vh - 200px);
}

.btn-primary {
  background-color: $vk-orange;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  &:hover{
    background-color: $vk-red;
  }
}

.btn-secondary {
  background-color: $vk-gray;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  &:hover{
    background-color: $vk-red;
  }
}

form {
  font-family: $body-font;
  font-size: 14px;
  font-color: $vk-black;
}
